<p id="notice"><%= notice %></p>

<p>
  <b>Scavenger hunt:</b>
  <%= @question.scavenger_hunt_id %>
</p>

<p>
  <b>Points available:</b>
  <%= @question.possible_points %>
</p>

<p>
  <b>Answer:</b>
  <%= @question.answer %>
</p>

<p>
  <b>Name:</b>
  <%= @question.name %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
