<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Score</th>
      <th>Possible</th>
      <th>Clues Purchased</th>
      <th>Questions Answered</th>
    </tr>
  </thead>
  <tbody>
    <% Team.leaderboard.each do |team| %>
      <tr>
        <td><%= team %></td>
        <td><%= team.score.current %></td>
        <td><%= team.score.possible %></td>
        <td><%= team.score.clues_purchased %></td>
        <td><%= team.solutions.without_state(:open).count %></td>
      </tr>
    <% end %>
  </tbody>
</table>