<h1>Welcome <%= current_team_member %></h1>
<ul>
  <li>
    <%- if team_member_signed_in? -%>
      <%= link_to 'Sign Out', destroy_team_member_session_path %>
    <%- else -%>
      <%= link_to "Sign In", new_team_member_session_path  %></li>
    <%- end -%>
  <li>Remaining Questions</li>
  <li>Leader Board</li>
</ul>

<div id="team_solutions">
  <table>
    <thead>
      <tr>
        <th>Question</th>
        <th>Possible</th>
        <th>Clues Purchased</th>
      </tr>
    </thead>
    <tbody>
    <% @current_team.solutions.with_state(:open).each do |solution| %>
      <tr>
        <td><%= solution.question %></td>
        <td><%= solution.score.possible %></td>
        <td><%= solution.score.clues_purchased %></td>
      </tr>
    <%- end -%>
    </tbody>
  </table>
</div>

<div id="leader_board">
  <%= render 'leader_board' %>
</div>
