<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @solution.question_id %>
</p>

<p>
  <b>Team:</b>
  <%= @solution.team_id %>
</p>

<p>
  <b>State:</b>
  <%= @solution.state %>
</p>


<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
