<!DOCTYPE html>
<html>
<head>
  <title>Scavenge</title>
  <link rel="apple-touch-icon" href="/images/webclip.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <%= stylesheet_link_tag    "jquery-mobile", "front_side" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <%= javascript_include_tag "jquery-mobile" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "shared/jquery_mobile_page_start" %>
    <%= yield %>
<%= render :partial => "shared/jquery_mobile_page_end" %>

</body>
</html>
