<%= semantic_form_for(@clue) do |f| %>
  <% if @clue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clue.errors.count, "error") %> prohibited this clue from being saved:</h2>

      <ul>
      <% @clue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :question %>
    <%= f.input :name %>
    <%= f.input :point_cost %>
    <%= f.input :text %>
  <% end %>
<% end %>
